<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script type="text/javascript" scr="../../../dist/main.js"></script>

    </head>

    <body>

        <header>
            <div class="">
                Form

            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name"> 
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"   onsubmit="return Client.handleSubmit(event)">
                    
                </form>
            <section>
                
            <section>
                <strong>Result:</strong>  
                <div id="polarity"></div>
                <div id="subjectivity"></div>
            </section>
        </main>
        
        <footer>
            <p>This is afooter</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            } else {console.log('Service worker not working');}
            </script>
    </body>
</html>
