<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <script type="text/javascript" scr="../../../dist/main.js"></script>

    </head>

    <body>

        <header>
            <div class="">
                Form

            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"   onsubmit="return handleSubmit(event)" method="GET" action="/api">
                    
                </form>
            <section>
                
            <section>
                <strong>Result:</strong>  
                <div id="results"></div>
            </section>
        </main>
        
        <footer>
            <p>This is afooter</p>
        </footer>

    </body>
</html>
